@import 'colors';
@import 'reset';
@import 'article';
@import 'base';
@import 'buttons';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

.app {
  display: flex;
  height: 100vh;

  .sidebar {
    background-color: $gray-800;
    width: 25%;
    padding: 2rem;
    box-shadow: 1px 2px 2px rgb(0 0 0 / 10%);

    .sidebar__header {
      color: $blue-500;
      font-size: 2.5rem;
      &--blog {
        color: $yellow-300;
      }
    }

    .sidebar__nav {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .nav__link {
        font-size: 1.25rem;
        font-weight: 600;
        color: $gray-400;
        padding-left: 0.5rem;

        &:hover {
          color: $yellow-300;
          border-left: 2px solid $yellow-300;
        }
      }

      .active {
        color: $yellow-300;
        border-left: 2px solid $yellow-300;
      }
    }
  }

  .main {
    flex: 1;
    margin: 0 auto;
    padding: 2rem;
    overflow: auto;
  }
}
