<form>
  <div>
    <label for='title'>Title</label>
    <input type='text' name='title' />
  </div>
  <div>
    <label for='fullText'>Full Text</label>
    <textarea type='textarea' name='fullText' rows='4' cols='50'></textarea>
  </div>
  <button type='submit'>Create Article</button>
</form>
