<form {{on 'submit' this.createArticle}}>
  <div>
    <label for='title'>Title:</label>
    <Input id='title' @type='text' @value={{this.title}} />
  </div>
  <div>
    <label for='full-text'>Full text:</label>
    <Textarea id='full-textt' @value={{this.full_text}} rows='6' cols='80' />
  </div>
  <button type='submit'>Create Article</button>
</form>
