<div>
  <div>
    <img src='images/{{@article.image}}' alt='placeholder' />
  </div>
  <div>
    <h5>{{@article.title}}</h5>
    <span>{{@article.created_at}}</span>

    <p>
      {{@article.full_text}}
    </p>
  </div>
</div>
