<h1>Latest Articles</h1>

<div class='article-container'>
  {{#each @model as |article index|}}
    <Article @article={{article}} class={{if (eq index 0) 'article--lead'}} />
  {{/each}}
</div>

{{outlet}}
