{{page-title 'BlogUi'}}

<div class='app'>
  <aside class='sidebar'>
    <h1 class='sidebar__header'>
      Ember<span class='sidebar__header--blog'>Blog</span>
    </h1>
    <nav class='sidebar__nav'>
      <LinkTo @route='index' class='nav__link'>Home</LinkTo>
      <LinkTo @route='articles' class='nav__link'>Articles</LinkTo>
      <LinkTo @route='articles.new' class='nav__link'>Create Article</LinkTo>
    </nav>
  </aside>

  <main class='main'>
    {{outlet}}
  </main>
</div>
