{{page-title 'BlogUi'}}

<nav>
  <ul>
    <li><LinkTo @route='index'>Home</LinkTo></li>
    <li><LinkTo @route='articles'>Articles</LinkTo></li>
  </ul>
</nav>

<h2 id='title'>Welcome to Ember</h2>

{{outlet}}
